body{
    background-color: hsl(30, 38%, 92%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.container{
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
   width: 55%;
   border-bottom-left-radius: 10px;
   border-top-left-radius: 10px;
}
.perfume{
   width: 100%; 
   padding: 10px;
   margin: 29px;
}
p, h5{
    color: hsl(228, 12%, 48%);

}

.text{
    display: flex;
    justify-content: space-between;
}
button{
    width: 100%;
    text-align: center;
    background-color: hsl(158, 36%, 37%);
    padding: 10px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    border: none;
    margin: 10px;
}
h2{
    font-family: 'Fraunces', serif;
    color: hsl(158, 36%, 37%);
}
h6{
    text-decoration: line-through;
}
h1{
    font-family: 'Fraunces', serif;
}
@media (max-width: 767px) {
  
    .container{
        display: block;
        width: 400px;
    }
    .text{
        display: flex;
        justify-content: space-around;
    }
    .perfume{
        width: 80%; 
        padding: 10px;
        margin: 29px;
     }
     img{
        width: 100%;
     }
 
}


